<% extend("master.ejs") %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tạo lịch trình</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="datepicker">Chọn ngày</label>
                    <input class="form-control" data-date-format="dd/mm/yyyy" id="datepicker">
                </div>
                <div class="form-group col-md-6">
                    <label for="doctor">Bác sĩ</label>
                    <input type="text" id="doctor" class="form-control" disabled value="<%= user.name %>">
                </div>
            </div>
            <div class="mb-4">
                <span>Select time period:</span>
                <div id="lsBtnSchedule">
                    <% for(let i=0; i < schedule.length; i++) { %>
                        <button id="time-<%= schedule[i].key %>" type="button"
                            class="btn  btn-light mr-3 my-3 btn-schedule" value="<%= schedule[i].valueVi %>">
                            <%= schedule[i].valueVi %>
                        </button>
                        <% } %>
                </div>
            </div>

            <button type="button" class="btn btn-primary mb-3" id="createNewScheduleDoctor">Lưu</button>

            <div>
                <span>Phạm vi đã chọn: (không lưu)</span>
                <div>
                    <table class="table table-bordered" id="tableCreateSchedule" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Phạm vi</th>
                                <th>Ngày</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#liSchedule").addClass('active');
        });
    </script>