<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span>Copyright &copy; <a title="More info"
                                        href="https://www.facebook.com/profile.php?id=100011010698678"
                                        target="_blank">Đại học Bách khoa Đà Nẵng - PBL5 - 2024</a></span>
        </div>
    </div>
</footer>
