<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a title="More info" href="https://dut.udn.vn/" target="_blank">Trường Đại học Bách
                    khoa Đại học Đà Nẵng - 2025</a></span>
        </div>
    </div>
</footer>
